html{

	height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-changetheme:#595151;
    --font-familyaa: 'B612', sans-serif;
    --color-accortutup : #f5f5f5;
    --color-accor : #f5c6a9;
    --color-accortext : #454545;
    --color-accortextbuka : #333333;
}

html[data-theme='dark']{
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
    --color-changetheme:#b2bed1;
    --font-familyaa: 'Raleway', sans-serif;
    --color-accortutup : #333333;
    --color-accor : #09FBD3;
    --color-accortext : #f8f7fa;
    --color-accortextbuka : #333333;

}

body {
	margin-top: 2em;
	font-family: 'B612', sans-serif;
}

/*.container{
	/*width : 50em;
  	background-color: var(--bg-panel);
  	
    padding: 0.5em;
    border-radius: 2em;
    
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title switch"
        "content content";
}*/



.judul{
	padding: 2em;
	margin-right: auto;
	margin-left: auto;
	height: 50%;
	width: 85%;
	border-radius: 2em;
	display: flex;
	background-color: #343a40;
}

.pesan{
	margin: auto !important;
	width: auto !important;
	text-align: center !important;
}

h1{
	font-size: 2em !important; 
}

.button{

}

.row {
	margin: 1em;

    /*padding: 1em;*/
}

h2{
	font-weight: bold;
	font-size: 3em;
    margin: 0;
    color: var(--color-headings);
}



// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1{
	color: white;
}