{% load static %}

<!doctype html>
<html lang="en" data-theme="light">
<html lang="en">
	<head>
		<title>Search Your Book!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<div class="container">
			<div class="jumbotron jumbotron-fluid judul">
  				<div class="container pesan">
			    	<h1 class="display-4">Search Your Book !</h1>
				</div>
			</div>
        	
        	<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            	<form autocomplete="off" id="movie-form">
                	<div class="form-row">
                    	<div class="col-12 col-md-8 mb-2 mb-md-0">
                        	<input type="text" id="title-search" class="form-control form-control-lg"
                               placeholder="Search book by title...">
                    	</div>
                    	<div class="col-12 col-md-4">
                        	<button type="submit" class="btn btn-block btn-lg btn-primary button">Search!</button>
                    	</div>
                	</div>
            	</form>
        	</div>

        	<br><br><br>

        	<table class="table">
				<thead class="thead-dark">
					<tr>
				    	<th scope="col">#</th>
				    	<th scope="col">Cover Pic</th>
				    	<th scope="col">Title</th>
				     	<th scope="col">Publisher</th>
				    </tr>
				</thead>
				<tbody id="book-result">
				    
				</tbody>
			</table>

    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
	<script>
		$(document).ready(
            $(document.body).ready(function (event) {
                const bookTitle = "harry potter";
                $.ajax({
                    method: 'GET',
                    url: "https://www.googleapis.com/books/v1/volumes?q=" + bookTitle,
                    success: function (result) {
                        let bookRow = $('#book-result');
                        bookRow.empty(); 	
                        const resultList = result.items;
                        for (let i = 0; i < resultList.length; i++) {
                            bookRow.append(
                            	"<tr>"+
                            	"<th scope='row'>" + (i+1) + "</th>" +
                            	"<td>" + "<img class='card-img-top' src=" + resultList[i].volumeInfo.imageLinks.thumbnail + ">" + "</td>" + 
                            	"<td>" + resultList[i].volumeInfo.title + "</td>" +
                            	"<td>" + resultList[i].volumeInfo.publisher + "</td>" +
                                "</tr>"
                            );
                        }
                    }
                }) ;
            })
        );

        $(document).ready(
            $('#movie-form').submit(function (event) {
                event.preventDefault();
                const bookTitle = $('#title-search').val();

                $.ajax({
                    method: 'GET',
                    url: "https://www.googleapis.com/books/v1/volumes?q=" + bookTitle,
                    success: function (result) {
                        let bookRow = $('#book-result'); 
                        bookRow.empty();
                        const resultList = result.items;
                        for (let i = 0; i < resultList.length; i++) {
                            bookRow.append(
                                "<tr>"+
                            	"<th scope='row'>" + (i+1) + "</th>" +
                            	"<td>" + "<img class='card-img-top' src=" + resultList[i].volumeInfo.imageLinks.thumbnail + ">" + "</td>" + 
                            	"<td>" + resultList[i].volumeInfo.title + "</td>" +
                            	"<td>" + resultList[i].volumeInfo.publisher + "</td>" +
                                "</tr>"
                            );
                        }
                    }
                });
            })
        );
    	</script>
</html>