{% load static %}

<!doctype html>
<html lang="en" data-theme="light">
<html lang="en">
	<head>
		<title>Hi There!</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  		<link rel="stylesheet" href="/resources/demos/style.css">
  		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link href="https://fonts.googleapis.com/css?family=B612|Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-8 column">
					<h2>Live Your Life!</h2>	
				</div>
				<div class="col-4 columntoggle">
					
					<div class="toggle-container toggler">
            			<input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
        			</div>	
        			<h7>Change Theme</h7>
				</div>
			</div>
			<div class="row">
				<div class="col column">
					<img src="{% static 'img/profpic.png' %}" class="rounded float-right foto" alt="...">
				</div>
				
			</div>
			<div class="row">
				<div class="col column">
					<p>I'm just an ordinary boy who loves musics, films, and books. As the only child, i ofteI'm just an ordinary boy who loves musics, films, and books. As the only child, i often spend my leisure times alone with my gadgets or books, and that's make me a dominant introvert. Oh! I am a big fan of kpop too! </br></br>
					I am currently studying at Universitas Indonesia majoring in Information System. Feel free to check some specific informations about myself below here!</p>
				</div>
				
			</div>  
			<div class="row">
				<div id="accordion">
					<h3 class="accordionheader">Education</h3>
						<div class="list-group">
							<div class="list-group-item list-group-item-action">
				    			<div class="d-flex w-100 justify-content-between">
				      				<h5 class="mb-1">Strada Pelita II Junior High School</h5>
				       			</div>
				    			<small class="text-muted">2012-2015</small>
				    		</div>	
				  			<div class="list-group-item list-group-item-action">
				    			<div class="d-flex w-100 justify-content-between">
				      				<h5 class="mb-1">SMA Negeri 33 Jakarta</h5>
				       			</div>
				       			<p class="mb-1">Natural Science Major</p>
				    			<small class="text-muted">2015-2018</small>
				    		</div>
				    		<div class="list-group-item list-group-item-action">
				    			<div class="d-flex w-100 justify-content-between">
				      				<h5 class="mb-1">Universitas Indonesia </h5>
				       			</div>
				       			<p class="mb-1">Information System Major</p>
				    			<small class="text-muted">2018 - present</small>
				    		</div>
						</div>
					<h3 class="accordionheader">Experiences</h3>
						<ul class="list-unstyled">
  							<li class="media">
    							<img src="{% static 'img/uiaw.png' %}" class="mr-3 icons" alt="...">
    							<div class="media-body">
      								<h5 class="mt-0 mb-1" style="font-weight: bold">7<small>th</small> UI Art War</h5>
      								Staff of Equipments <br>
      								<small>2018</small>
    							</div>
  							</li>
  							<li class="media my-4">
    							<img src="{% static 'img/cgt.png' %}" class="mr-3 icons" alt="...">
    							<div class="media-body">
      								<h5 class="mt-0 mb-1" style="font-weight: bold">CGT In Action</h5>
      								Staff of Public Relations <br>
      								<small>2019</small>
    							</div>
  							</li>
  							<li class="media my-4">
    							<img src="{% static 'img/compfest.png' %}" class="mr-3 icons" alt="...">
    							<div class="media-body">
      								<h5 class="mt-0 mb-1" style="font-weight: bold">COMPFEST</h5>
      								Staff of Digital Marketing <br>
      								<small>2019</small>
    							</div>
  							</li>
						</ul>
					<h3 class="accordionheader">Activities</h3>
				  		<div class="list-group">
							<div class="list-group-item list-group-item-action">
				    			<div class="d-flex w-100 justify-content-between">
				      				<h5 class="mb-1" style="font-weight: bold">STUDY</h5>
				       			</div>
				       			<p class="mb-1">Like a usual university student.</p>
				    		</div>	
				  			<div class="list-group-item list-group-item-action">
				    			<div class="d-flex w-100 justify-content-between">
				      				<h5 class="mb-1" style="font-weight: bold">LISTEN SPOTIFY</h5>
				       			</div>
				       			<p class="mb-1">I really love music. I also made some playlists on Spotify! Feel free to check those out!</p>
				    		</div>
				    		<div class="list-group-item list-group-item-action">
				    			<div class="d-flex w-100 justify-content-between">
				      				<h5 class="mb-1" style="font-weight: bold">KEPANITIAAN!</h5>
				       			</div>
				       			<p class="mb-1">Rasanya gw terlalu banyak ngambil kepanitiaan untuk semester ini...</p>
				    		</div>
						</div>
				</div>			
			</div>
		
		<script>
			var checkbox = document.querySelector('input[name=theme]');

        checkbox.addEventListener('change', function() {
            if(this.checked) {
                trans()
                document.documentElement.setAttribute('data-theme', 'dark')
            } else {
                trans()
                document.documentElement.setAttribute('data-theme', 'light')
            }
        })

        let trans = () => {
            document.documentElement.classList.add('transition');
            window.setTimeout(() => {
                document.documentElement.classList.remove('transition')
            }, 1000)
        }

        $( "#jQuery-accordion" ).accordion({
        	collapsible: true,
        	heightStyle: "content",
        	active: false
        })

        $( function() {
    		$( "#accordion" ).accordion({
    			collapsible: true,
    			active: false
    		});
  		});
		</script>
	</body>
</html>